name: Build and test

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.301
      - name: Setup global .NET tools
        run: |
          dotnet tool install --global dotnet-reportgenerator-globaltool
          dotnet tool install --global dotnet-sonarscanner
          export PATH="$PATH:/root/.dotnet/tools"
      - name: Install dependencies
        run: dotnet restore src/Hestia.sln
      - name: Build
        run: dotnet build --no-restore src/Hestia.sln
      - name: Test
        run: dotnet test src/Hestia.sln /p:CollectCoverage=true /p:CoverletOutputFormat=opencover /p:Exclude="[xunit*]*" /p:CoverletOutput="coverage.json"
      - name: Merge coverage reports
        run: reportgenerator "-reports:**/coverage.json" "-targetdir:coveragereport" "-reporttypes:Html;HtmlSummary;Cobertura;lcov;XML"
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coveragereport/lcov.info
      - name: Run Sonar and upload results to SonarCloud
        with:
          SONAR_LOGIN: ${{ secrets.SONAR_LOGIN }}
          SONAR_PROJECT_KEY: ${{ secrets.SONAR_LOGIN }}
          SONAR_ORG: ${{ secrets.SONAR_ORG }}
        run: |
          dotnet sonarscanner begin /k:"$SONAR_PROJECT_KEY" /o:"$SONAR_ORG" /d:sonar.login="$SONAR_LOGIN"
          dotnet build src/Hestia.sln
          dotnet sonarscanner end /d:sonar.login=$SONAR_LOGIN
