name: .NET Core

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.301
      - name: Setup global .NET tools
        run: |
          dotnet tool install --global dotnet-reportgenerator-globaltool
          dotnet tool install --global Codecov.Tool
          export PATH="$PATH:/root/.dotnet/tools"
      - name: Install dependencies
        run: dotnet restore src/Hestia.sln
      - name: Build
        run: dotnet build --no-restore src/Hestia.sln
      - name: Test
        run: dotnet test src/Hestia.sln /p:CollectCoverage=true /p:CoverletOutputFormat=opencover /p:Exclude="[xunit*]*" /p:CoverletOutput="coverage.json"
      - name: Merge coverage reports
        run: reportgenerator "-reports:**/coverage.json" "-targetdir:coveragereport" "-reporttypes:Html;HtmlSummary;Cobertura;lcov;XML"
      - name: Upload Coverage
        run: codecov -f coveragereport/lcov.info
